.videoContainer {
  padding: 2rem 0;
}

.row1 {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.row1 a {
  background-color: rgba(0, 74, 172, 0.829);
  padding: 10px 20px;
  font-size: 0.7rem;
  color: white;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.row1 a:hover {
  transform: scale(1.05);
  background-color: rgba(0, 87, 201, 0.966);
}

.row2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (width <= 1024px) {
  .row2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 768px) {
  .row2 {
    grid-template-columns: 1fr;
  }

  .row1 a {
    padding: 10px 15px;
  }

  .row1 h2 {
    font-size: 1.3rem;
  }
}
