.QandAContainer {
  padding: 4rem;
}

.row1 {
  display: flex;
  padding-bottom: 3rem;
  align-items: center;
}

.row1 div {
  width: 50%;
  height: max-content;
}

.row1 p {
  font-size: 0.7rem;
  color: rgb(73, 73, 73);
}

.QandA {
  margin-bottom: 0.2rem;
  box-shadow: none !important;
}

.text {
  font-size: 0.65rem;
  color: rgb(85, 85, 85);
}

.question {
  font-size: 0.75rem !important;
}

@media (width <= 1023px) {
  .QandAContainer {
    padding: 3rem 0;
  }

  .row1 {
    display: block;
    padding-bottom: 1.5rem;
  }

  .row1 div {
    width: 100%;
  }
  .row1 div p {
    margin-top: 0.5rem;
  }

  .QandA {
    box-shadow: none;
    margin-bottom: 0.6rem;
  }
}
