.closeButtonContainer {
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
  margin-left: auto !important;
  margin-top: 0.25rem !important;
  margin-right: 0.5rem !important;
}

.closeButtonLabel {
  font-size: small !important;
  font-weight: bold !important;
  cursor: pointer !important;
}

.navLinks {
  padding: 0 1rem !important;
  margin-bottom: 0.9rem !important;
}

.navLink {
  display: flex !important;
  align-items: center !important;
  gap: 0.25rem !important;
  text-decoration: none !important;
  color: inherit !important;
  margin-bottom: 0.3rem;
}

.navLinkIcon {
  height: 0.7rem !important;
  margin-right: 0.3rem !important;
}

.navLinkText {
  font-size: 0.75rem !important;
}

.categoriesHeader {
  font-size: 1.2rem !important;
  text-align: center !important;
  font-weight: 400 !important;
  border-top: 0.5px solid black !important;
  padding: 20px 0 10px 0 !important;
  width: 85% !important;
  margin: auto !important;
}

.categoryName {
  display: flex !important;
  align-items: center !important;
}

.noCategories {
  font-size: 0.6rem !important;
  text-align: center !important;
  width: 100% !important;
}

.listRoot {
  padding: 0 !important;
  margin: 0 !important;
}

.listItemButton {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  width: 100% !important;
  min-height: auto !important;
  padding: 0.25rem 0.5rem !important;
  margin: 0 !important;
  border-radius: 0 !important;
  margin: 0.5rem 0 !important;
}

.listItemLeft {
  display: flex !important;
  align-items: center !important;
  gap: 0.25rem !important;
  background: none !important;
  padding: 0.5rem !important;
  margin: 0 !important;
  width: auto !important;
}

.listItemButton {
  background-color: antiquewhite;
  height: 0.1rem !important;
}

.listItemLeft .navLinkIcon {
  margin-right: 0.5rem !important;
}
