.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading button {
  background-color: rgba(0, 74, 172, 0.829);
  padding: 0.35rem 1.2rem;
  border-radius: 0.375rem;
  font-size: 0.45rem;
  color: white;
  border: 2px solid black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 0.375rem;
}

.heading button:hover {
  background-color: rgba(0, 87, 201, 0.966);
}

.heading p {
  font-size: 0.5rem;
  margin-bottom: 0.3rem;
}

.text {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  gap: 1rem;
}

.text div {
  width: 40%;
}

.text p {
  font-size: 0.5rem;
}

.text input {
  font-size: 0.5rem;
  height: 1rem;
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid #6b6b6b;
}

.text textarea {
  font-size: 0.5rem;
  height: 5rem;
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid #6b6b6b;
}

.text select {
  font-size: 0.5rem;
  height: 1rem;
  width: 100%;
  border-radius: 10px;
  padding: 0 0.5rem;
  border: 1px solid #6b6b6b;
  color: black;
}

.text select option {
  background-color: #fff; /* works */
}

.text input:focus,
.text textarea:focus,
.text select:focus {
  outline: none;
}

.autocompleteWrapper {
  position: relative;
  width: 100%;
}

.autocompleteWrapper input {
  width: 100%;
  box-sizing: border-box;
}

.autocompleteContainer {
  width: 100% !important;
}

/* The suggestions popup floating over content */
.suggestionsPopup {
  position: absolute;
  width: 100% !important;
  top: 100% !important;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #6b6b6b;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;

  top: 100% !important;
  left: 0;
  right: 0;
}

/* Individual suggestion */
.suggestionItem {
  padding: 0.3rem !important;
  cursor: pointer;
  font-size: 0.5rem;
  width: 100% !important;
}

.suggestionItem:hover {
  background-color: #e0e0e0;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: 100% !important;
}

.socialRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0rem;
  width: 100% !important;
}

.socialRow svg {
  width: 0.7rem;
  color: #747474;
  padding: 0;
  margin: 0;
}

.errorText {
  color: red;
  padding: 0 10px;
}

.noTyping {
  background-color: #e7e7e7;
  color: #6b6b6b;
  pointer-events: none;
}

.message {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.invalidField {
  border-color: rgb(245, 0, 0) !important;
}

.errorCont {
  height: 0.8rem;
  width: 100% !important;
}

.socialsCont {
  width: 100% !important;
}

/* Tablet */
@media (max-width: 1024px) {
  .text {
    flex-direction: column;
  }

  .text div {
    width: 100%;
    max-width: 500px;
  }
}
