.wrapper {
  padding: 2rem 2rem;
  background: #fafafa;
}

.title {
  margin-bottom: 0.3rem;
}

.description {
  color: #555;
  max-width: 1000px;
  font-size: 0.7rem !important;
  height: max-content !important;
}

.grid {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
}

.card {
  background: transparent;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: max-content !important;
  min-height: 210px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.icon {
  height: 1.3rem;
  color: #3b82f6;
  margin-bottom: 0.25rem;
}

.card .title {
  color: #383838;
}

@media (width <= 1024px) {
  .wrapper {
    padding: 2rem 0;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .wrapper {
    padding: 2rem 0;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    background: transparent;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: max-content !important;
    min-height: 160px;
  }
}
