.navbar_row {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  border-bottom: 1px solid black;
}

.navbar_row--top {
  justify-content: space-between;
}
.navbar_row--bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar_Logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_Logo a {
  font-size: 0.9rem;
  transition: transform 0.3s ease;
}

.navbar_Links {
  display: flex;
  gap: 0.8rem;
  font-size: 0.45rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.navbar_Links a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar_Links a svg {
  width: 0.8rem;
  height: 0.8rem;
}

.navbar_Links a img {
  width: 0.8rem;
  height: 0.8rem;
}

.navbar_Links .list {
  width: 1.1rem;
  height: 0.8rem;
}

.navbar_Links .clock {
  width: 0.65rem;
  height: 0.65rem;
}

.navbar_Links .trending {
  width: 0.7rem;
  height: 0.7rem;
}

.navbar_Link_mobile {
  display: block;
  transition: transform 0.3s ease;
}

.navbar_Link_mobile:hover {
  transform: scale(1.05);
}

.menu {
  display: none !important;
  height: 1.1rem;
  width: 1.1rem;
}

@media (width <= 900px) {
  .navbar_Link_mobile {
    display: none;
  }
  .navbar_Logo a {
    margin-left: 0rem;
  }
  .menu {
    display: block !important;
    margin-right: 0.4rem;
  }
}
