.videoContainer {
  padding: 0;
}
.row1 {
  padding: 1rem 0;
}

.row2 {
  display: flex;
  overflow-x: auto;
  gap: 16px;

  /* hide scrollbar in most browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.row2::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.video {
  flex: 0 0 auto;
  width: 45%;
}

.videoWrapper {
  position: relative;
}

.thumbnail {
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  height: max-content !important;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.category {
  display: block;
  font-size: 0.5rem;
  color: #888;
  margin-top: 8px;
}

.title {
  display: block;
  font-size: 0.75rem;
  font-weight: 480;
  margin-top: 8px;
}

.scrollWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.row2 {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.row2::-webkit-scrollbar {
  display: none;
}

/* Arrows */
.arrowLeft,
.arrowRight {
  position: absolute;
  top: 40%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.arrowLeft {
  left: -12px;
}
.arrowRight {
  right: -12px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.desktopArrows {
  display: flex;
  gap: 0.5rem;
}

/* Hide arrows on small screens */
@media (max-width: 1024px) {
  .video {
    flex: 0 0 auto;
    width: 60%;
  }
}

/* Hide arrows on small screens */
@media (max-width: 768px) {
  .desktopArrows {
    display: none;
  }

  .video {
    flex: 0 0 auto;
    width: 80%;
  }

  .thumbnail {
    height: 290px;
  }
}

.scrollWrapper {
  display: flex;
  overflow-x: auto; /* allows swipe scroll */
  gap: 16px;
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

.scrollWrapper::-webkit-scrollbar {
  display: none; /* hide scrollbar in Chrome/Safari */
}
