.holder {
  display: flex;
  padding: 0 0 2rem 0;
  gap: 1.5rem;
}

.column1 {
  width: 70%;
}

.column2 {
  width: 30%;
}

.img {
  width: 100%;
  height: auto;
  height: 80vh;
  object-fit: cover;
}

.content h2 {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.content h3 {
  font-size: 0.7rem;
  padding: 0.55rem 0;
}

.content span {
  font-size: 0.5rem;
}

.content a {
  color: rgba(0, 74, 172, 0.829) !important;
}

.content a:hover {
  color: rgba(0, 87, 201, 0.966);
  text-decoration: underline;
}

.holder h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.content h4,
.content h5,
.content h6 {
  font-size: 0.7rem;
}

.title {
  font-size: 0.9rem !important;
  padding: 0.3rem 0 !important;
}

.column1 p {
  font-size: 0.59rem;
  padding: 0.5rem 0;
}

.content p {
  font-size: 0.59rem;
  padding: 0.4rem 0;
}

.content img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.content iframe {
  width: 100%;
  min-height: 500px;
  height: 30vw;
  object-fit: cover;
  border: 0;
  display: block;
}

:global(.wp-block-list-item) {
  font-size: 0.65rem;
  list-style: circle;
  margin: 0.2rem 0.5rem;
}

/* SinglePostLayout.module.css */
:global(.wp-block-techcrunch-inline-cta) {
  display: none;
}

.category {
  font-size: 0.55rem;
  margin-right: 8px;
  color: rgb(75, 75, 75);
}
.category:hover {
  color: rgba(0, 87, 201, 0.966);
}

.subDetails {
  display: flex;
  justify-content: space-between;
  font-size: 0.5rem;
  color: rgb(75, 75, 75);
}

.column2 {
  font-size: 0.7rem;
  color: #5f5f5f;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.9rem 0;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: none;
  height: max-content;
}

.userInfo div {
  padding-bottom: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.userInfo p {
  font-size: 0.55rem;
  color: rgb(51, 51, 51);
  font-weight: 600;
  height: max-content;
  padding: 0;
}

.userInfo .date {
  font-size: 0.47rem;
  color: rgb(51, 51, 51);
  font-weight: 500;
}

.featCont {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 0.4rem;
}

.card {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.card .imageHolder {
  width: 40% !important;
}
.postCont {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.card .textHolder {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  display: block;
}

.card h3 {
  font-size: 0.5rem !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important;
  line-clamp: 3;
  height: 1.8rem !important;
  overflow: hidden;
}

.subText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.45rem;
}

@media (max-width: 1200px) {
  .holder {
    flex-direction: column;
    gap: 2rem;
  }

  .column1 {
    width: 100%;
  }
  .img {
    height: 45vh;
  }
  .column2 {
    padding: 0rem;
    width: 100%;
  }

  .postCont {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  .postCont {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
}
