.form {
  align-items: center;
  text-align: center;
  padding: 1rem 1rem;
  width: 400px;
  height: max-content;
  padding-bottom: 1.6rem;
}

.errorText {
  color: #e53935;
  font-size: 0.4rem;
  font-weight: 500;
}

.errorPlaceholder {
  visibility: hidden;
  font-size: 0.4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header p {
  font-size: 0.5rem;
}

.header p span {
  font-weight: 600;
}

.header p span:hover {
  text-decoration: underline;
}

.title {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.inputGroup {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: left;
}

.label {
  font-size: 0.45rem;
  font-weight: 500;
  margin: 10px 0 0 0;
  display: block;
}

.label2 {
  display: flex;
  justify-content: space-between;
  font-size: 0.45rem;
  font-weight: 500;
  margin: 10px 0 0 0;
}

.forgotPassword {
  font-weight: 400;
}
.forgotPassword:hover {
  font-weight: 500;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.textField :global(.MuiOutlinedInput-root) {
  border-radius: 10px;
}

.textField :global(.MuiOutlinedInput-root input) {
  padding: 0.25rem 0.3rem;
  font-size: 0.5rem;
  color: black;
}

.validField :global(.MuiOutlinedInput-root fieldset) {
  border-width: 1px;
  border-style: solid;
  border-color: green;
}

.invalidField :global(.MuiOutlinedInput-root fieldset) {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(245, 0, 0);
}

.dividerContainer {
  display: flex;
  align-items: center;
  width: 75%;
  margin: 30px auto 20px;
}

.divider {
  flex: 1;
  border-color: #ccc;
  border-width: 1px;
  margin: 0;
}

.orText {
  margin: 0 6px;
  font-size: 0.6rem;
  color: #666;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: black !important;
  background-clip: content-box !important;
  transition: background-color 5000s ease-in-out 0s;
}

@media (width <= 600px) {
  .header {
    display: block;
    margin-bottom: 0.9rem !important;
  }
  .dialogPaper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .form {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .label {
    margin: 10px 0 0 0;
  }

  .textField :global(.MuiOutlinedInput-root) {
    border-radius: 10px;
    height: 35px;
  }

  .textField :global(.MuiOutlinedInput-root input) {
    padding: 10.5px 10px;
    font-size: 0.5rem;
  }

  .orText {
    margin: 0 5px;
    font-size: 0.5rem;
  }
}
