html {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier Prime', monospace;
}

h2 {
  font-size: 1.5rem;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: auto;
}

@media (max-width: 600px) {
  html {
    font-size: 25px;
  }
  h2 {
    font-size: 1.1rem;
  }
}

.swal2-container {
  z-index: 99999 !important;
}

body.swal2-shown {
  overflow: auto !important;
  padding-right: 0 !important;
}

html.swal2-shown {
  overflow: auto !important;
  padding-right: 0 !important;
}

.swal-popup-small {
  max-width: 450px;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #333;
}

.swal-title-small {
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
}

.swal-popup-small .swal2-html-container {
  font-size: 0.7rem;
}

.swal-popup-small .swal2-icon.swal2-success {
  transform: scale(0.4);
  margin: 0 auto;
  margin-bottom: -1.5rem;
}

.swal-popup-small .swal2-icon.swal2-success .swal2-success-ring {
  border-width: 0.15rem;
}

.swal-popup-small .swal2-icon {
  margin-top: 0rem;
}
