.seperator {
  font-size: 0.5rem !important;
  margin: 0 !important;
  line-height: 1 !important;
  vertical-align: middle !important;
}

.crumb {
  font-size: 0.5rem !important;
  margin: 0 !important;
  vertical-align: middle !important;
}

.primary {
  color: #000000 !important;
  font-size: 0.5rem !important;
  margin: 0 !important;
  vertical-align: middle !important;
}

.crumb,
.primary {
  display: inline-flex !important;
  align-items: center !important;
}

.ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 510px !important;
  display: inline-block !important;
  vertical-align: middle !important;
}
